@font-face { 
    font-family: nobel-bold; 
    src: url("fonts/nobel-bold.woff") format("woff"); 
}

@font-face { 
    font-family: nobel-book; 
    src: url("fonts/nobel-book.woff") format("woff");
}

@font-face { 
    font-family: pakt; 
    src: url("fonts/pakt.woff") format("woff");
}

.pointer {
    cursor: pointer;
}

#nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#nav {
    height: 100px;
    width: 96%;
    display: flex;
    padding: 30px 0;
}

ul {
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

#main-menu-wrapper {
    margin-top: 10px;
    margin-left: 18%;
    text-transform: uppercase;
    font-family: nobel-bold;
    font-size: 11px;
    letter-spacing: 1px;
}

.dropdown-main {
    float: left;
    margin-right: 13px;
}

.dropdown-main:last-child {
    float: left;
}

.dropdown-content {
    background-color: white;
    padding: 0 10%;
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 100;
    width: 100%;
}

.dropdown-main:hover .dropdown-content {
    z-index: 9999;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}

.dropdown-item {
    max-width: 300px;
    min-height: 300px;
}

.dropdown-item p {
    font-family: nobel-book;
}

.dropdown-item:hover {
    background-color: gray;
}

.dropdown-hidden {
    display: none;
}

.dropdown-item:hover .dropdown-hidden {
    display: flex;
}

.dropdown-hidden p {
    padding-right: 10px;
}

.dropdown-hidden p:hover {
    text-decoration: underline;
}

.dropdown-main li {
    min-height: 60px;
}

#right-menu-wrapper {
    position: absolute;
    right: 2%;
    margin-left: 10px;
}

.right-menu {
    position: relative;
    margin-top: 11px;
    padding-right: 11px;
    float: left;
    font-family: nobel-bold;
    font-size: 11px;
}

.right-menu:nth-child(3) {
    padding-right: 0px;
}

#logo {
    height: 33px;
    width: 140px;
}

#search-btn {
    position: relative;
    background-color: transparent;
    border: none;
    opacity: .5;
    top: -10px;
}

#search-btn i {
    font-size: 22px;
}

#main-wrapper {
    width: 100%;
    height: 20vh;
    background-color: white;
}

#hero-section {
    font-family: nobel-book;
    position: relative;
}

#hero-next {
    cursor: pointer;
    position: absolute;
    font-size: 40px;
    top: 45%;
    right: 0;
}

#hero-prev {
    cursor: pointer;
    position: absolute;
    font-size: 40px;
    top: 45%;
}

#hero-label-top {
    color: white;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#hero-label-top h1 {
    font-size: 50px;
    letter-spacing: 5px;
    padding-bottom: 10px;
}

#hero-label-top h1 span {
    padding-bottom: 6px;
    border-bottom: 3px solid #fff;
}

#hero-label-top h3 {
    font-size: 22px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

#hero-label-bot {
    color: white;
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#hero-label-bot h4 {
    letter-spacing: 2px;
    font-family: pakt;
    font-size: 16px;
}

#big-label {
    letter-spacing: 2px;
    font-family: pakt;
    font-size: 50px;
}

#small-label {
    margin-top: -8%;
    line-height: 10px;
    letter-spacing: 2px;
    font-size: 10px;
}

#hero-second-slide {
    display: none;
}

#hero-btn1, #hero-btn2 {
    width: 15%;
    height: 10%;
    color: black;
    background-color: white;
    border: 0;
    position: absolute;
    font-family: nobel-bold;
    letter-spacing: 2px;
    font-size: 12px;
}

#hero-btn1 {
    left: 40%;
    bottom: 2%;
    transform: translateX(-50%);
}

#hero-btn2 {
    left: 60%;
    bottom: 2%;
    transform: translateX(-50%);
}

#hero-btn1:hover {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    left: 40%;
    bottom: 2%;
    transform: translateX(-50%);
}

#hero-btn2:hover {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    left: 60%;
    bottom: 2%;
    transform: translateX(-50%);
}


@media screen and (min-width: 1200px) {
    .dropdown-main {
        float: left;
        margin-right: 29px;
    }
}

@media screen and (max-width: 1032px) {
    #main-menu-wrapper, #right-menu-wrapper {
        display: none;
    }
}


