#amazing-section {
    width: 100%;
    position: relative;
    text-align: center;
}

#amazing-prev, #amazing-next {
    font-size: 5vh;
    position: absolute;
    opacity: .5;
    cursor: pointer;
}

#amazing-prev {
    left: 3%;
}

#amazing-next {
    right: 3%;
}

#amazing-section h1 {
    font-family: nobel-book;
    font-size: 2vw;
    letter-spacing: .2vw;
    padding-bottom: 2vw;
}

.amazing-slide {
    min-width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: .5vw;
}

.amazing-slide-item {
    width: 100%;
    height: 45vh;
    padding-bottom: 20%;
}

.amazing-slide-item p {
    padding: 1vw;
    margin-top: 2vh;
    font-size: 1.5vw;
    font-family: nobel-regular;
}

.amazing-slide-item img {
    height: 22vh;
}

.amazing-btn {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);

    font-size: .8vw;
}

#slider-container {
    width: 80%;
    margin: 0 auto;
}

#slides-wrapper {
    display: flex;
    overflow: hidden;
}