#current-section {
    padding: 2vw 0;
    text-align: center;
    font-family: nobel-book;
}

#current-section h1 {
    font-size: 2vw;
}

#current-wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1vw 3vw;
}

.current-item {
    padding: 0 1vw;
}

.img-container {
    overflow: hidden;
}

.current-item img {
    transition: .4s;
    width: 100%;
    height: 100%;
}

.current-item img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

.current-item h2 {
    margin-top: 2vh;
    font-size: 1.5vw;
    letter-spacing: .1vw;
}

.current-item span {
    margin-top: 2vh;
    font-size: 1vw;
    letter-spacing: .1vw;
    width: 40%;
}

.current-label-container {
    height: 10vh;
}

@media screen and (max-width: 1032px) {
    #current-wrapper {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        margin: 1vw 3vw;
    }

    .current-item {
        margin-bottom: 3vh;
    }

    .current-item h2 {
        margin-top: 2vh;
        font-size: 100%;
        letter-spacing: .1vw;
    }
    
    .current-item span {
        margin-top: 2vh;
        font-size: 90%;
        letter-spacing: .1vw;
        width: 40%;
    }

    #current-three {
        margin-bottom: 1vh;
    }

    #current-wrapper button {
        font-size: 60%;
        height: 8%;
        width: 25%;
    }
}