#footer-wrapper {
    background-color: black;
}

#footer-top {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-top p {
    margin: 0;
}

#footer-top a {
    color: #B6A171;
}

#footer-top a:hover {
    color: #797979;
}

#footer-grid {
    color: white;

    display: grid;
    grid-template-areas: 
    'a b d f'
    'a c e f';
    row-gap: 3vh;
}

.ft-grid h3 {
    font-family: nobel-regular;
    font-size: 1.4vh;
    margin-bottom: 3vh;
}

.ft-grid li {
    cursor: pointer;
    font-family: nobel-book;
    font-size: 1.2vh;
    margin-bottom: .7vh;
    opacity: .7;
}

.ft-grid li:hover {
    opacity: .5;
}

#ft-grid1 {
    margin-left: 20%;
    font-family: nobel-regular;
    font-size: 90%;
    grid-area: a;
}

#ft-grid1 li {
    cursor: pointer;
    margin-bottom: 1vh;
}

#ft-grid1 li i {
    padding-right: .3vw;
}

#ft-grid2 {
    grid-area: b;
}

#ft-grid3 {
    grid-area: c;
}

#ft-grid5 {
    grid-area: d;
}

#ft-grid6 {
    grid-area: e;
}

#ft-grid7 {
    grid-area: f;
}

.bi-caret-down-fill {
    display: none;
}

#footer-bot {
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#footer-bot a:hover {
    color: #878787;
}

#footer-bot p {
    text-align: center;
    color: #939393;
    font-size: 90%;
    font-family: nobel-book;
}

#footer-bot a, #footer-bot a p {
    font-size: 85%;
    color: white !important;
}

#footer-bot a:hover, #footer-bot a p:hover {
    color: #878787 !important;
}


@media screen and (max-width: 1032px) {
    #footer-grid {
        grid-template-areas: 
        'a b f'
        'a e c'
        'a d .';
    }

    .ft-grid ul {
        display: block;
    }

    #ft-grid1 {
        margin-left: 0%;
    }
}

@media screen and (max-width: 640px) {
    #footer-grid {
        display: block;
    }

    .bi-caret-down-fill, .bi-caret-up-fill {
        display: inline-block;
        position: absolute;
        right: 8%;
    }

    #footer-grid h3 {
        cursor: pointer;
        padding: 3% 0%;
        margin: 0% 5%;
        color: #939393;
        border-bottom: 1px solid #929292;
    }

    #footer-grid ul {
        padding: 0%;
        margin: 0% 5%;
    }

    #footer-grid li {
        padding: 3% 0;
    }

    .ft-grid ul {
        display: none;
    }


    #ft-grid1 {
        display: flex;
    }

    #ft-grid1 ul {
        margin: 5% 3%;
        position: relative;
    }

    #ft-grid1 li {
        letter-spacing: .2vw;
        font-size: 70%;
        height: auto;
        float: left;
        margin: 2% 0% 0% 1%;
        padding-right: 2%;
        border-right: 1px solid rgba(147, 147, 147, 0.6);
    }

    #ft-grid1 li:nth-last-child(2) {
        border: none;
    }
    
    #ft-grid1 li:last-child {
        font-size: 150%;
        border: none;
        bottom: -30%;
        position: absolute;
    }

}