#nav-wrapper {
    width: 100%;
}

#nav {
    height: 100px;
    width: 96%;
    display: flex;
    padding: 30px 0;
    overflow: hidden;
}

#logo {
    margin-left: 20%;
    height: 33px;
    width: 140px;
}

#main-menu-wrapper {
    margin-top: 10px;
    margin-left: 18%;
    text-transform: uppercase;
    font-family: nobel-bold;
    font-size: .9vw;
    letter-spacing: 1px;
}

.dropdown-main {
    float: left;
    margin-right: 1vw;
}

.dropdown-content {
    background-color: white;
    padding: 0 10%;
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}

.dropdown-main:hover .dropdown-content {
    z-index: 10;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}

.dropdown-item {
    max-width: 300px;
    min-height: 300px;
}

.dropdown-item p {
    font-family: nobel-book;
}

.dropdown-hidden {
    display: none;
}

.dropdown-item:hover .dropdown-hidden {
    display: flex;
}

.dropdown-hidden p {    
    font-family: nobel-bold;
    padding-right: 1vw;
}

.dropdown-hidden p:hover {
    text-decoration: underline;
}

.dropdown-main li {
    min-height: 6vw;
}

#right-menu-wrapper {
    position: absolute;
    right: 2%;
    margin-left: 1vw;
}

.right-menu {
    position: relative;
    margin-top: 1.1vw;
    padding-right: 1vw;
    float: left;
    font-family: nobel-bold;
    font-size: .9vw;
}

#search-btn {
    position: relative;
    background-color: transparent;
    border: none;
    opacity: .5;
    top: -0.4vw;
}

#search-btn i {
    font-size: 2vw;
}

/* SEARCHBAR */
#searchbar-wrapper {
    background-color: white;
    display: none;
    position: absolute;
    width: 100%;
    transform: translateX(100%);
}

#searchbar-wrapper div {
    width: 80%;
    height: 50px;
    margin: 0 auto;
}

#searchbar-wrapper .bi-search {
    font-size: 2vh;
    position: absolute;
    left: 2.5%;
}

#searchbar-wrapper .bi-x {
    cursor: pointer;
    top: 0;
    font-size: 3vh;
    position: absolute;
    right: 2.5%;
}

#searchbar-wrapper input {
    width: 100%;
    line-height: 4vh;
    border: none;
    letter-spacing: .2vw;
    font-size: 1.8vh;
}

/* MOBILE NAV */

#mobile-nav-right, #mobile-menu {
    display: none;
}

@media screen and (max-width: 1032px) {
    #main-menu-wrapper, #right-menu-wrapper, #searchbar-wrapper {
        display: none;
    }

    #mobile-nav-right {
        cursor: pointer;
        display: flex;
        position: absolute;
        top: 3.5vh;
        right: 6vw;
        margin-right: 1vw;
    }

    #mobile-nav-right h2 {
        font-size: 90%;
        font-family: nobel-bold;
        
    }

    #mobile-nav-right i {
        font-size: 200%;
        position: absolute;
        bottom: -10%;
        right: -70%;
    }
    
    #mobile-menu {
        display: none;
        text-align: center;
        background-color: black;
        margin-bottom: -1.54vh;
    }

    #mobile-menu ul {
        padding-left: 0;
    }

    #mobile-search {
        opacity: .6;
    }

    #mobile-menu button {
        background-color: black;
        border: none;
        width: 100%;
        padding: 2vh 0;
        color: white;
        font-family: nobel-regular;
        font-size: 1.2vh;
    }

    #mobile-menu li {
        border-bottom: 1px solid #333333;
    }

    #mobile-menu li p {
        color: white;
        padding-bottom: 2vh;
        
    }

    #mobile-search-input {
        display: none;
        background-color: black;
        border: none;
        width: 80%;
        margin: 0 auto;
        position: relative;
        transform: translateX(100%);
        line-height: 5vh;
        color: white;
    }
}

@media screen and (min-width: 1200px) {
    .dropdown-main {
        float: left;
        margin-right: 29px;
    }
}