@font-face { 
    font-family: nobel-bold; 
    src: url("fonts/nobel-bold.woff") format("woff"); 
}

@font-face { 
    font-family: nobel-book; 
    src: url("fonts/nobel-book.woff") format("woff");
}

@font-face { 
    font-family: pakt; 
    src: url("fonts/pakt.woff") format("woff");
}

@font-face { 
    font-family: nobel-light; 
    src: url("fonts/nobel-light.woff") format("woff");
}

@font-face { 
    font-family: nobel-regular; 
    src: url("fonts/nobel-regular.ttf") format("truetype");
}

.activated img {
    border: 2px solid goldenrod !important;
}

.hidden {
    display: none !important;
}

hr {
    width: 80%;
    margin: auto !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

.section {
    padding: 2vw 0;
}

.zoom-item {
    position: relative;
}

.zoom-item img {
    transition: .4s;
    width: 100%;
    height: 100%;
}

.zoom-item h2 {
    padding: 0 1vw;
    width: 100%;
    font-family: nobel-bold;
    font-size: 1.2vw;
    text-align: center;
    color: white;

    position: absolute;
    bottom: 4vw;
}

.zoom-item .white-transp-btn-zoom {
    width: 40%;
    height: 3vw;
    font-family: nobel-bold;
    font-size: .8vw;

    border: none;
    background-color: white;

    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
}

.zoom-item:hover .white-transp-btn-zoom {
    color: white;
    border: 3px solid white;
    background-color: transparent;
}

.zoom-item img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

.pointer {
    cursor: pointer;
}

.white-transp-btn {
    color: black;
    background-color: white;
    border: 0;
    position: absolute;
    font-family: nobel-bold;
    width: 15%;
    height: 10%;
    letter-spacing: .2vw;
}

.white-transp-btn:hover {
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

.white-black-btn {
    background-color: white;
    font-family: nobel-bold;
    padding: 1vw 3vw;
    margin-top: 2vh;
    border: 3px solid black;
}

.white-black-btn:hover {
    background-color: black;
    color: white;
}

#main-wrapper {
    width: 100%;
    background-color: white;
}








