@font-face { 
    font-family: nobel-bold; 
    src: url("fonts/nobel-bold.woff") format("woff"); 
}

@font-face { 
    font-family: nobel-book; 
    src: url("fonts/nobel-book.woff") format("woff");
}

@font-face { 
    font-family: pakt; 
    src: url("fonts/pakt.woff") format("woff");
}

@font-face { 
    font-family: nobel-light; 
    src: url("fonts/nobel-light.woff") format("woff");
}

@font-face { 
    font-family: nobel-regular; 
    src: url("fonts/nobel-regular.ttf") format("truetype");
}

hr {
    width: 80%;
    margin: auto !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

.section {
    padding: 2vw 0;
}

.zoom-item {
    position: relative;
}

.zoom-item img {
    transition: .4s;
    width: 100%;
    height: 100%;
}

.zoom-item h2 {
    padding: 0 1vw;
    width: 100%;
    font-family: nobel-bold;
    font-size: 1.2vw;
    text-align: center;
    color: white;

    position: absolute;
    bottom: 4vw;
}

.zoom-item .white-transp-btn-zoom {
    width: 40%;
    height: 3vw;
    font-family: nobel-bold;
    font-size: .8vw;

    border: none;
    background-color: white;

    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
}

.zoom-item:hover .white-transp-btn-zoom {
    color: white;
    border: 3px solid white;
    background-color: transparent;
}

.zoom-item img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

.pointer {
    cursor: pointer;
}

#nav-wrapper {
    width: 100%;
}

#nav {
    height: 100px;
    width: 96%;
    display: flex;
    padding: 30px 0;
}

#logo {
    margin-left: 20%;
    height: 33px;
    width: 140px;
}

#main-menu-wrapper {
    margin-top: 10px;
    margin-left: 18%;
    text-transform: uppercase;
    font-family: nobel-bold;
    font-size: .9vw;
    letter-spacing: 1px;
}

.dropdown-main {
    float: left;
    margin-right: 1vw;
}

.dropdown-content {
    background-color: white;
    padding: 0 10%;
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}

.dropdown-main:hover .dropdown-content {
    z-index: 10;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}

.dropdown-item {
    max-width: 300px;
    min-height: 300px;
}

.dropdown-item p {
    font-family: nobel-book;
}

.dropdown-hidden {
    display: none;
}

.dropdown-item:hover .dropdown-hidden {
    display: flex;
}

.dropdown-hidden p {    
    font-family: nobel-bold;
    padding-right: 1vw;
}

.dropdown-hidden p:hover {
    text-decoration: underline;
}

.dropdown-main li {
    min-height: 6vw;
}

#right-menu-wrapper {
    position: absolute;
    right: 2%;
    margin-left: 1vw;
}

.right-menu {
    position: relative;
    margin-top: 1.1vw;
    padding-right: 1vw;
    float: left;
    font-family: nobel-bold;
    font-size: .9vw;
}

#search-btn {
    position: relative;
    background-color: transparent;
    border: none;
    opacity: .5;
    top: -0.4vw;
}

#search-btn i {
    font-size: 2vw;
}

#main-wrapper {
    width: 100%;
    height: 20vh;
    background-color: white;
}

#hero-section {
    font-family: nobel-book;
    position: relative;
}

#hero-next {
    cursor: pointer;
    position: absolute;
    font-size: 4vw;
    top: 45%;
    right: 0;
}

#hero-prev {
    cursor: pointer;
    position: absolute;
    font-size: 4vw;
    top: 45%;
}

.hero-label-top {
    width: 100%;
    color: white;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.hero-label-top h1 {
    font-size: 3.4vw;
    letter-spacing: .5vw;
    padding-bottom: 1vw;
}

.hero-label-top h1 span {
    padding-bottom: .6vw;
    border-bottom: .3vw solid #fff;
}

.hero-label-top h3 {
    font-family: nobel-light;
    font-weight: 700;
    font-size: 1.5vw;
    letter-spacing: .2vw;
    padding-bottom: 1vw;
}

#hero-label-bot {
    color: white;
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#hero-label-bot h4 {
    margin-bottom: 0;
    letter-spacing: .2vw;
    font-family: pakt;
    font-size: 1.6vw;
}

#big-label {
    line-height: 120%;
    letter-spacing: .2vw;
    font-family: pakt;
    font-size: 5.3vw;
}

#small-label {
    margin-top: -1vw;
    line-height: 1vw;
    letter-spacing: .2vw;
    font-size: 1vw;
}

.white-transp-btn {
    color: black;
    background-color: white;
    border: 0;
    position: absolute;
    font-family: nobel-bold;
    width: 15%;
    height: 10%;
    letter-spacing: .2vw;
}

.white-transp-btn:hover {
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

#hero-btn1, #hero-btn2, #hero-btn3 {
    font-size: 1.2vw;
    bottom: 2%;
    transform: translateX(-50%);
}

#hero-btn1 {
    left: 40%;
}

#hero-btn2 {
    left: 60%;
}

#hero-btn3 {
    left: 50%;
}

#hero-first-slide {
    display: none;
}

#hero-second-slide {
    display: relative;
}

#hero-second-slide h1 {
    font-family: nobel-book;
}

/* ------------------------------------------ */
#shopping-section {
    padding-top: 2vw;
    position: relative;
    text-align: center;
}

#shopping-section h1 {
    font-family: nobel-book;
    font-size: 2vw;
}

#shopping-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.tool {
    padding-top: 2vw;
    cursor: pointer;
    display: inline-block;
    font-family: nobel-bold;
    padding-right: 3vw;
}

.tool img {
    opacity: 0.7;
}

.tool:hover img {
    opacity: 1;
}

.tool:hover span {
    text-decoration: underline;
}

.tool span {
    padding-top: 2vw;
    display: block;
}

/* ------------------------------- */

#current-section {
    padding: 2vw 0;
    text-align: center;
    font-family: nobel-book;
}

#current-section h1 {
    font-size: 2vw;
}

#current-wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1vw 3vw;
}

.current-item {
    padding: 0 1vw;
}

.img-container {
    overflow: hidden;
}

.current-item img {
    transition: .4s;
    width: 100%;
    height: 100%;
}

.current-item img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

.current-item h2 {
    margin-top: 2vh;
    font-size: 1.5vw;
    letter-spacing: .1vw;
}

.current-item span {
    margin-top: 2vh;
    font-size: 1vw;
    letter-spacing: .1vw;
    width: 40%;
}

.current-label-container {
    height: 10vh;
}

.white-black-btn {
    background-color: white;
    font-family: nobel-bold;
    padding: 1vw 3vw;
    margin-top: 2vh;
    border: 3px solid black;
}

.white-black-btn:hover {
    background-color: black;
    color: white;
}
/* -------------------------------------- */

#explore-section {
    position: relative;
    margin-bottom: 10vh;
}

#explore-top-wrapper {
    text-align: center;
    font-family: nobel-book;
}

#explore-top-wrapper h1 {
    font-size: 2vw;
    letter-spacing: .2vw;
    text-align: center;
    margin-bottom: 2vw;
}

#explore-top-wrapper ul li {
    display: inline-block;
}

#explore-top-wrapper button {
    border: none;
    padding: 0 1vw;
    background-color: transparent;
}

.active {
    position: relative;
    font-family: nobel-bold;
    border: none;
}

#exp-act::after {
    content: "";
    border-right: 7px solid transparent;
    border-top: 7px solid #000;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}
#explore-model-wrapper button {
    display: inline-block;
    height: 10vh;
    padding: 0 1vw;
}

#explore-model-wrapper img {
    display: block;
    height: 100%;
    width: 100%;
}

#stage {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: 50% 100%;
}

#colors-wrapper {
    margin-top: 2vh;
    margin-left: 5vw;
}

.color-btn {
    position: relative;
    width: 48px;
    height: 48px;
    border: none;
    background-color: transparent;
}

.color-btn img {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    border: none;
    background-color: transparent;
}

.color-btn:focus img, .color-btn:hover img {
    border: 2px solid goldenrod;
}

#color-name-label {
    font-family: nobel-book;
    font-style: italic;
    position: absolute;
    left: 13%;
    bottom: -6%;
}

#explore-stage-wrapper {
    position: relative;
}

#explore-card {
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    top: 8vh;
    left: 5vw;
}

#explore-starting, #explore-price {
    font-family: pakt;
}

#explore-year {
    font-family: nobel-regular;
    font-size: 2vh;
    margin-bottom: 0;
}

#explore-is {
    font-family: nobel-book;
    font-size: 7vh;
}

#explore-is span {
    padding-bottom: 1vh;
    border-bottom: 5px solid white;
}

#explore-starting {
    font-size: 2vh;
    margin-bottom: 0;
}

#explore-price {
    font-size: 4vh;
}

#explore-btn-bld {
    left: 16%
}

#explore-car-display {
    position: relative;
}

 #explore-car-display img {
     position: absolute;
     left: 30%;
     width: 70vw;
     transform: translateY(-45%);
 }



@media screen and (min-width: 1200px) {
    .dropdown-main {
        float: left;
        margin-right: 29px;
    }
}

@media screen and (max-width: 1032px) {
    #main-menu-wrapper, #right-menu-wrapper {
        display: none;
    }
}



